<p class = "fillin">

  <%= @made_game.text1 %>
  <span class = "filled-in">
    <%= @made_game_instance.new_word1 %>
  </span>

  <%= @made_game.text2 %>
  <span class = "filled-in">
    <%= @made_game_instance.new_word2 %>
  </span>

  <%= @made_game.text3 %>
  <span class = "filled-in">
    <%= @made_game_instance.new_word3 %>
  </span>

  <%= @made_game.text4 %>
  <span class = "filled-in">
    <%= @made_game_instance.new_word4 %>
  </span>

  <%= @made_game.text5 %>
  <span class = "filled-in">
    <%= @made_game_instance.new_word5 %>
  </span>

  <%= @made_game.text6 %>
</div>


