<h2>Now you fill in the blanks!</h2>
<%= simple_form_for @game do |f| %>
  <p>
    <%= f.input :word1, label: "Year" %>
  </p>
  <p>
    <%= f.input :word2, label: "Soccer club" %>
  </p>
  <p>
    <%= f.input :word3, label: "Soccer player" %>
  </p>
  <p>
    <%= f.input :word4, label: "Soccer club" %>
  </p>
  <p>
    <%= f.input :word5, label: "Country" %>
  </p>
  <p>
    <%= f.input :word6, label: "Number" %>
  </p>
  <p>
    <%= f.input :word7, label: "Ordinal number" %>
  </p>
  <p>
    <%= f.input :word8, label: "Soccer player" %>
  </p>
  <p>
    <%= f.input :word9, label: "Profession" %>
  </p>
  <p>
    <%= f.input :word10, label: "Why was Tim Tebow cut from the Patriots? He..." %>
  </p>
  <%= f.submit "Generate your fill-in!" %>
<% end %>
