<p class="heading">The NFL is happening!</p>

<p class="fillin">It's NFL time, and things got off to an exciting start with the <span class="filled-in"><%= @game.word6 %></span> matchup between the <span class="filled-in"><%= @game.word9 %></span> <span class="filled-in"><%= @game.word10 %></span> and the <span class="filled-in"><%= @game.word11 %></span> <span class="filled-in"><%= @game.word2 %></span>. <span class="filled-in"><%= @game.word13 %></span> of the hometown <span class="filled-in"><%= @game.word10 %></span> passed for a record-tying <span class="filled-in"><%= @game.word1 %></span> touchdowns leading them to a 92358.3 to 14192.2 victory. Looking ahead to this Sunday, the blockbuster feature promises to be the <span class="filled-in"><%= @game.word3 %></span> <span class="filled-in"><%= @game.word4 %></span> meeting the <span class="filled-in"><%= @game.word7 %></span> <span class="filled-in"><%= @game.word5 %></span> in a rematch of last year's most controversial game -- you surely know the one. Off the field, controversy about traumatic <span class="filled-in"><%= @game.word12 %></span> injuries continues to be a topic of conversation despite the league settling with former players for $<span class="filled-in"><%= @game.word8 %></span> late last month.</p>

<div class = "sharing">
  <p>
  Share this fill-in using this link: <%= link_to request.original_url, request.original_url, class: "share-link" %>
  </p>
</div>
<div>
<p>
Or tweet this fill-in to your followers:
    <a href="https://twitter.com/share" class="twitter-share-button" text= "Checkoutthis" data-lang="en">Tweet</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </p>
</div>
<div>
<span class="btn btn-large btn-info"><%= link_to "Make a new fill-in!", new_game_path%></span><br />
</div>
