<p class="heading">End of the transfer window news!</p>

<p>The <span class="filled-in"><%= @game.word1 %></span> transfer window ended yesterday, and the big news is that <span class="filled-in"><%= @game.word2 %></span> bought <span class="filled-in"><%= @game.word3 %></span> from the unknown club <span class="filled-in"><%= @game.word4 %></span> in <span class="filled-in"><%= @game.word5 %></span>. The transfer fee, estimated to be around $<span class="filled-in"><%= @game.word6 %></span>, is the <span class="filled-in"><%= @game.word7 %></span> highest we have seen in the past five years. <span class="filled-in"><%= @game.word3 %></span> is expected to take over for <span class="filled-in"><%= @game.word8 %></span> at <span class="filled-in"><%= @game.word9 %></span>, after <span class="filled-in"><%= @game.word8 %></span> parted ways with <span class="filled-in"><%= @game.word2 %></span> in June of this year because he <span class="filled-in"><%= @game.word10 %></span>.
<div>
<span class="btn"><%= link_to "Make another!", new_game_path%></span><br />
</div>
<div>
  Share your fill-in using this link: <%= link_to request.original_url, request.original_url %>
</div>
Or tweet your fill-in to your followers:
    <a href="https://twitter.com/share" class="twitter-share-button" text= "Checkoutthis" data-lang="en">Tweet</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
