<h1>End of the transfer window news!</h1>

<p>The <%= @game.word1 %> transfer window ended today, and the big news is that <%= @game.word2 %> bought <%= @game.word3 %> from the unknown club <%= @game.word4 %> in <%= @game.word5 %>. The transfer fee, estimated to be around $<%= @game.word6 %>, is the <%= @game.word7 %> highest we have seen in the past five years. <%= @game.word3 %> is expected to take over for <%= @game.word8 %> at <%= @game.word9 %>, after <%= @game.word8 %> parted ways with <%= @game.word2 %> in June of this year because he <%= @game.word10 %>.
