<h1>End of the transfer window news!</h1>

<p>The <span class="filled-in"><%= @game.word1 %></span> transfer window ended today, and the big news is that <span class="filled-in"><%= @game.word2 %></span> bought <span class="filled-in"><%= @game.word3 %></span> from the unknown club <span class="filled-in"><%= @game.word4 %></span> in <span class="filled-in"><%= @game.word5 %></span>. The transfer fee, estimated to be around $<span class="filled-in"><%= @game.word6 %></span>, is the <span class="filled-in"><%= @game.word7 %></span> highest we have seen in the past five years. <span class="filled-in"><%= @game.word3 %></span> is expected to take over for <span class="filled-in"><%= @game.word8 %></span> at <span class="filled-in"><%= @game.word9 %></span>, after <span class="filled-in"><%= @game.word8 %></span> parted ways with <span class="filled-in"><%= @game.word2 %></span> in June of this year because he <span class="filled-in"><%= @game.word10 %></span>.
<div>
<%= link_to "Make another!", new_game_path%><br />
</div>
