<textarea class = "text100"></textarea>

<div id='post-preview'></div>

<a href="#" class="preview">Preview!</a>


<%= simple_form_for @made_game do |f| %>
  <div class="text1" id="text1">
  <p>
    <%= f.input :text1, label: "Text 1" %>
  </p>
</div>


<div class="word1">
  <p>
    <%= f.input :word1, label: "Word 1" %>
  </p>
</div>
  <p>
    <%= f.input :text2, label: "Text 2" %>
  </p>
  <p>
    <%= f.input :word2, label: "Word 2" %>
  </p>
  <p>
    <%= f.input :text3, label: "Text 3" %>
  </p>
  <p>
    <%= f.input :word3, label: "Word 3" %>
  </p>
  <p>
    <%= f.input :text4, label: "Text 4" %>
  </p>
  <p>
    <%= f.input :word4, label: "Word 4" %>
  </p>
  <%= button_tag(type: 'submit', class: "btn btn-large btn-info") do %>
      Fill in your story!
    <% end %>
<% end %>



