<container>
  <div class="span10">
    <p>
      In he "interword text" fields, write your main text. When you come to a word that you want other users to fill in, move down to the next "word description" field and explain what it should be.
    </p>
  </div>
  <div class="span5">
    <p class = "example">
      <strong>Example</strong><br/>
      Interword text: Once upon a time, were seven<br/>
      Word description: adjective<br/>
      Interword text: kittens. They lived in<br/>
      Word description: location<br/>
    </p>
    <%= simple_form_for @made_game do |f| %>
        <%= f.input :text1, label: "Interword text", as: :text, :input_html => {:rows => 2, :cols => 48, class: "inter"} %>
        <%= f.input :word1, label: "Word description", as: :text, :input_html => {:rows => 1, class: "inter"} %>
        <%= f.input :text2, label: "Interword text", as: :text, :input_html => {:rows => 2, :cols => 48, class: "inter"}  %>
        <%= f.input :word2, label: "Word description", as: :text, :input_html => {:rows => 1, class: "inter"}  %>
        <%= f.input :text3, label: "Interword text", as: :text, :input_html => {:rows => 2, :cols => 48, class: "inter"}  %>
        <%= f.input :word3, label: "Word description", as: :text, :input_html => {:rows => 1, class: "inter"}  %>
        <%= f.input :text4, label: "Interword text", as: :text, :input_html => {:rows => 2, :cols => 48, class: "inter"}  %>
        <%= f.input :word4, label: "Word description", as: :text, :input_html => {:rows => 1, class: "inter"}  %>
        <%= f.input :text5, label: "Interword text", as: :text, :input_html => {:rows => 2, :cols => 48, class: "inter"}  %>
        <%= f.input :word5, label: "Word description", as: :text, :input_html => {:rows => 1, class: "inter"}  %>
        <%= f.input :text6, label: "Interword text", as: :text, :input_html => {:rows => 2, :cols => 48, class: "inter"}  %>

  </div>
  <div class="span5">
    <p id="preview-explain">
      Type in the fields to the right and see the results appear below. This should help you envision how your final product will fit together. <strong>You cannot make edits after you've pressed submit.</strong>
    </p>
    <div class="previewbox">
      <div id='post-preview' class="textpreview"></div>
      <div id='post-preview-7' class="wordpreview"></div>
      <div id='post-preview-2' class="textpreview"></div>
      <div id='post-preview-8' class="wordpreview"></div>
      <div id='post-preview-3' class="textpreview"></div>
      <div id='post-preview-9' class="wordpreview"></div>
      <div id='post-preview-4' class="textpreview"></div>
      <div id='post-preview-10' class="wordpreview"></div>
      <div id='post-preview-5' class="textpreview"></div>
      <div id='post-preview-11' class="wordpreview"></div>
      <div id='post-preview-6' class="textpreview"></div>
    </div>
          <%= button_tag(type: 'submit', class: "btn btn-large btn-info") do %>
        Submit your new fill-in!
      <% end %>
    <% end %>
  </div>
</container>



