<%= simple_form_for @made_game do |f| %>
  <p>
    <%= f.input :text1, label: "Text 1" %>
  </p>
  <p>
    <%= f.input :word1, label: "Word 1" %>
  </p>
  <p>
    <%= f.input :text1, label: "Text 2" %>
  </p>
  <p>
    <%= f.input :word1, label: "Word 2" %>
  </p>
  <p>
    <%= f.input :text1, label: "Text 3" %>
  </p>
  <p>
    <%= f.input :word1, label: "Word 3" %>
  </p>
  <p>
    <%= f.input :text1, label: "Text 4" %>
  </p>
  <p>
    <%= f.input :word1, label: "Word 4" %>
  </p>
  <%= button_tag(type: 'submit', class: "btn btn-large btn-info") do %>
      Fill in your story!
    <% end %>
<% end %>
